// Navigation code here

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @nav-bg;
    color: @nav-font;

    
    }

    h1 {
        font-size: 5rem; 
        padding: 20px 0; 

        @media @mobile {
            font-size: 3.5rem;
            // background-color: red;
        }
    }

    .navLinks {
        display: flex;
        justify-content: space-between;
        width: 30%;
        padding: 10px 0;
        
        @media @tablet {
            display: flex;
            justify-content: space-between;   
            .tablet(90%, 0%, 0%);
            padding-bottom: 10px;
        }

        @media @medium-devices {
            .medium-devices(80% 0%, 0%);
        }

        @media @mobile {
            .mobile(70%, 0%, 0%);
        }

        a {
            
            color: @nav-font;
            text-decoration: none;
            font-size: 2rem;
            
            @media @mobile {
                font-size: 15px;
                justify-content: space-between;
                padding-bottom: 10px;
            }
        }
        
    }